!!!
%html
  %head
    %title California Population Projections
    :css
      * {
        font-family: arial, helvetica, sans-serif;
      }

      select {
        font-weight: bold;
        -webkit-appearance: none;
        background-color: white;
      }

      select.large {
        font-size: 12pt;
        padding: 5px;
      }

      select.small {
        font-size: 10pt;
        padding: 3px;
      } 

      p { margin: 0px; }

      .small {
        font-size: 10pt;
      }


    %script{ type: "text/javascript", src: "http://d3js.org/d3.v3.min.js" }
    %script{ type: "text/javascript", src: "http://d3js.org/topojson.v1.min.js" }
    %script{ type: "text/javascript", src: "js/california.js" }




  %body
    #wrapper
      #header

      #main
        =yield

      #footer

    



