!!!
%html
  %head
    %title California Population Projections
    :css
      * {
        font-family: arial, helvetica, sans-serif;
      }

      select {
        font-weight: bold;
        -webkit-appearance: none;
        background-color: white;
      }

      select.large {
        font-size: 12pt;
        padding: 5px;
      }

      select.small {
        font-size: 10pt;
        padding: 3px;
      } 

      p { margin: 0px; }

      .small {
        font-size: 10pt;
      }



  %body
    #wrapper
      #header

      #main
        =yield

      #footer

    



