%script{ type: "text/javascript", src: "http://d3js.org/d3.v3.min.js" }
%script{ type: "text/javascript", src: "http://d3js.org/topojson.v1.min.js" }
%script{ type: "text/javascript", src: "js/california.js" }

